@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf") format("truetype");
}

@layer base {
  :root {
    font-family: "Helvetica";
  }
}
.btn-brown {
  @apply rounded-xl border-2 border-amber-900 bg-amber-900 px-5 py-2 text-white hover:bg-transparent hover:text-amber-900;
}
